#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"

#pragma code_page(65001)
// https://learn.microsoft.com/en-us/windows/win32/menurc/resource-types
// RT_MANIFEST  MAKEINTRESOURCE(24)  Side-by-Side Assembly Manifest.
1 24 "weaselfont.exe.manifest"

IDI_WEASELFONT ICON "weasel.ico"
//
// Dialog resources
//
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED
IDD_DIALOG_FONT DIALOG 0, 0, 424, 250
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU | WS_CLIPCHILDREN
CAPTION "Weasel字体设置"
FONT 9, "Ms Shell Dlg"
{
    LTEXT           "字体名称", 0, 12, 17, 50, 9, SS_LEFT, WS_CHILD | WS_EX_LEFT
    COMBOBOX        IDC_CBB_FONTPICKER, 76, 15, 87, 30, WS_VISIBLE | WS_CHILD | CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL, WS_EX_LEFT
    AUTOCHECKBOX    "使能范围设定", IDC_CKB_RANGEEN, 171, 17, 64, 8, 0, WS_CHILD | WS_EX_LEFT
    EDITTEXT        IDC_EDIT_RANGESTART, 240, 15, 50, 14,  WS_CHILD | WS_DISABLED | ES_AUTOHSCROLL, WS_EX_LEFT 
    LTEXT           "~", 0, 295, 17, 6, 9, SS_LEFT, WS_CHILD | WS_EX_LEFT
    EDITTEXT        IDC_EDIT_RANGEEND, 306, 15, 50, 14, WS_CHILD | WS_DISABLED | ES_AUTOHSCROLL, WS_EX_LEFT
    PUSHBUTTON      "追加字体", IDC_BTN_ADDFONT, 361, 15, 50, 14, 0, WS_CHILD | WS_EX_LEFT

    COMBOBOX        IDC_CBB_FONTFACE_NAME, 12, 36, 50, 30, WS_VISIBLE | WS_CHILD | CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL, WS_EX_LEFT
    EDITTEXT        IDC_EDIT_FONTFACE, 76, 35, 214, 14, WS_CHILD | ES_AUTOHSCROLL, WS_EX_LEFT
    COMBOBOX        IDC_CBB_FONTSTYLE, 306, 35, 50, 30, WS_VISIBLE | WS_CHILD | CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL, WS_EX_LEFT
    COMBOBOX        IDC_CBB_FONTWEIGHT, 362, 35, 50, 30, WS_VISIBLE | WS_CHILD | CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL, WS_EX_LEFT

    LTEXT           "预览内容", 0, 12, 59, 50, 9, SS_LEFT, WS_CHILD | WS_EX_LEFT
    EDITTEXT        IDC_EDIT_PREVIEW_TEXT, 75, 56, 281, 14, WS_CHILD | ES_AUTOHSCROLL, WS_EX_LEFT
    COMBOBOX        IDC_CBB_FONTPOINT, 362, 56, 50, 30, WS_VISIBLE | WS_CHILD | CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL, WS_EX_LEFT
    CONTROL         "", IDC_STATIC_PREVIEW, "Static", WS_CHILD | WS_VISIBLE | WS_SYSMENU | SS_OWNERDRAW , 12, 80, 400, 140

    PUSHBUTTON      "取消", IDCANCEL, 361, 229, 50, 14, 0, WS_CHILD | WS_EX_LEFT
    DEFPUSHBUTTON   "确认", IDOK, 306, 229, 50, 14, 0, WS_CHILD | WS_EX_LEFT
}

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL
IDD_DIALOG_FONT DIALOG 0, 0, 424, 250
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU | WS_CLIPCHILDREN
CAPTION "Weasel字體設定"
FONT 9, "Ms Shell Dlg"
{
    LTEXT           "字體名稱", 0, 12, 17, 50, 9, SS_LEFT, WS_CHILD | WS_EX_LEFT
    COMBOBOX        IDC_CBB_FONTPICKER, 76, 15, 87, 30, WS_VISIBLE | WS_CHILD | CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL, WS_EX_LEFT
    AUTOCHECKBOX    "使能範圍設定", IDC_CKB_RANGEEN, 171, 17, 64, 8, 0, WS_CHILD | WS_EX_LEFT
    EDITTEXT        IDC_EDIT_RANGESTART, 240, 15, 50, 14,  WS_CHILD | WS_DISABLED | ES_AUTOHSCROLL, WS_EX_LEFT 
    LTEXT           "~", 0, 295, 17, 6, 9, SS_LEFT, WS_CHILD | WS_EX_LEFT
    EDITTEXT        IDC_EDIT_RANGEEND, 306, 15, 50, 14, WS_CHILD | WS_DISABLED | ES_AUTOHSCROLL, WS_EX_LEFT
    PUSHBUTTON      "追加字體", IDC_BTN_ADDFONT, 361, 15, 50, 14, 0, WS_CHILD | WS_EX_LEFT

    COMBOBOX        IDC_CBB_FONTFACE_NAME, 12, 36, 50, 30, WS_VISIBLE | WS_CHILD | CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL, WS_EX_LEFT
    EDITTEXT        IDC_EDIT_FONTFACE, 76, 35, 214, 14, WS_CHILD | ES_AUTOHSCROLL, WS_EX_LEFT
    COMBOBOX        IDC_CBB_FONTSTYLE, 306, 35, 50, 30, WS_VISIBLE | WS_CHILD | CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL, WS_EX_LEFT
    COMBOBOX        IDC_CBB_FONTWEIGHT, 362, 35, 50, 30, WS_VISIBLE | WS_CHILD | CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL, WS_EX_LEFT

    LTEXT           "預覽內容", 0, 12, 59, 50, 9, SS_LEFT, WS_CHILD | WS_EX_LEFT
    EDITTEXT        IDC_EDIT_PREVIEW_TEXT, 75, 56, 281, 14, WS_CHILD | ES_AUTOHSCROLL, WS_EX_LEFT
    COMBOBOX        IDC_CBB_FONTPOINT, 362, 56, 50, 30, WS_VISIBLE | WS_CHILD | CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL, WS_EX_LEFT
    CONTROL         "", IDC_STATIC_PREVIEW, "Static", WS_CHILD | WS_VISIBLE | WS_SYSMENU | SS_OWNERDRAW , 12, 80, 400, 140

    PUSHBUTTON      "取消", IDCANCEL, 361, 229, 50, 14, 0, WS_CHILD | WS_EX_LEFT
    DEFPUSHBUTTON   "確認", IDOK, 306, 229, 50, 14, 0, WS_CHILD | WS_EX_LEFT
}

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
IDD_DIALOG_FONT DIALOG 0, 0, 424, 250
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU | WS_CLIPCHILDREN
CAPTION "Weasel Font Setting"
FONT 9, "Ms Shell Dlg"
{
    LTEXT           "Font Name", 0, 12, 17, 50, 9, SS_LEFT, WS_CHILD | WS_EX_LEFT
    COMBOBOX        IDC_CBB_FONTPICKER, 76, 15, 87, 30, WS_VISIBLE | WS_CHILD | CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL, WS_EX_LEFT
    AUTOCHECKBOX    "Enable Range", IDC_CKB_RANGEEN, 171, 17, 64, 8, 0, WS_CHILD | WS_EX_LEFT
    EDITTEXT        IDC_EDIT_RANGESTART, 240, 15, 50, 14,  WS_CHILD | WS_DISABLED | ES_AUTOHSCROLL, WS_EX_LEFT 
    LTEXT           "~", 0, 295, 17, 6, 9, SS_LEFT, WS_CHILD | WS_EX_LEFT
    EDITTEXT        IDC_EDIT_RANGEEND, 306, 15, 50, 14, WS_CHILD | WS_DISABLED | ES_AUTOHSCROLL, WS_EX_LEFT
    PUSHBUTTON      "Append Font", IDC_BTN_ADDFONT, 361, 15, 50, 14, 0, WS_CHILD | WS_EX_LEFT

    COMBOBOX        IDC_CBB_FONTFACE_NAME, 12, 36, 50, 30, WS_VISIBLE | WS_CHILD | CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL, WS_EX_LEFT
    EDITTEXT        IDC_EDIT_FONTFACE, 76, 35, 214, 14, WS_CHILD | ES_AUTOHSCROLL, WS_EX_LEFT
    COMBOBOX        IDC_CBB_FONTSTYLE, 306, 35, 50, 30, WS_VISIBLE | WS_CHILD | CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL, WS_EX_LEFT
    COMBOBOX        IDC_CBB_FONTWEIGHT, 362, 35, 50, 30, WS_VISIBLE | WS_CHILD | CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL, WS_EX_LEFT

    LTEXT           "Preview Text", 0, 12, 59, 50, 9, SS_LEFT, WS_CHILD | WS_EX_LEFT
    EDITTEXT        IDC_EDIT_PREVIEW_TEXT, 75, 56, 281, 14, WS_CHILD | ES_AUTOHSCROLL, WS_EX_LEFT
    COMBOBOX        IDC_CBB_FONTPOINT, 362, 56, 50, 30, WS_VISIBLE | WS_CHILD | CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL, WS_EX_LEFT
    CONTROL         "", IDC_STATIC_PREVIEW, "Static", WS_CHILD | WS_VISIBLE | WS_SYSMENU | SS_OWNERDRAW , 12, 80, 400, 140

    PUSHBUTTON      "Cancel", IDCANCEL, 361, 229, 50, 14, 0, WS_CHILD | WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 306, 229, 50, 14, 0, WS_CHILD | WS_EX_LEFT
}
